body{
    width:100%;
	padding:0 1% 0 1%;
	font-family: sans-serif;
	box-sizing: border-box;
}
button{
	border:2px solid rgb(0,56,147);
	background-color: #dc143c;
	color: #efefef;
	cursor:pointer;
}
textarea{
	width: 60%;
}
p{
	text-align: justify; 
	line-height:1.5;
}
a{
	text-decoration: none;
}
.header{
	width:100%;
	box-sizing: border-box;
	margin: 0 0 1% 0;
}
.tagline{
	width: 100%;
	font-stretch: extra-expanded;
	text-align: center;
	font-size:.5vw;
}
.navigation{	
	color:#fffef9; 
	width:75%;
	height:100%;
	float: left;
	box-shadow: 5px 10px #888888;
	padding:1%;
	box-sizing: border-box;
	background-color: #003893;
	font-size:.7vw;
}
.logo{
	padding:0 1% 0 1%;
	width:25%;
	height:100%;
	box-sizing: border-box;
	float: left;
	font-size:1vw;
	border:2px solid #003893;
	background-color:#dc143c;
	color: #efefef;
	
}
.navigation a {
	float: right;
	color: #fffef9;
	text-align: center;
	padding: 0 1% 0 1%;
	text-decoration: none;
	line-height: 80%;
	box-sizing: border-box;
}
.navigation a:hover {
	color: red;
	font-size: 150%;
}
.sublink_container{
	width: 95%;
	height:500px;
	max-height:1200px;
	overflow: auto;
	margin: 5% 0 5% 0;
	box-sizing: border-box;
	border-bottom: 2px solid #967167;
	font-size:1vw;
}
.sublink_odd{
	width:60%; 
	height: 90%; 
	float:left;
	padding: 1%;
	box-sizing: border-box;
	background-color: rgb(0,56,147,0.2);
	overflow:auto;
}
.sublink_even{ 
	width:60%; 
	height: 90%; 
	float:left;
	padding: 1%;
	box-sizing: border-box;
	background-color: rgb(0,56,147,0.2);
	overflow:auto;
}
.button_sublinks{ 
	border-radius: 10%;
	border: 10px inset #003893;
	box-shadow: 3px 5px #888888;
	background-color: #dc143c;
	color: #fffef9;
	cursor: pointer;
	float:right;
	width:30%;
	height: 20%;
	margin: 1%;
	line-height:50%;
}
.adboard_odd{
	width: 35%;
	float:left;
	padding:1% 0 1% 0;
	height: 90%; 
	background-color: rgb(51,51,51,0.3);  
	color: white; 
	text-align: center;
	box-sizing: border-box;
}
.adboard_even{
	width: 35%;
	float: left;
	padding:1% 0 1% 0;
	height: 90%; 
	background-color: rgb(51,51,51,0.3);  
	color: white; 
	text-align: center;
	box-sizing: border-box;
}
.footer{
	text-align: center; 
	background-color: rgb(51,51,51,0.8);  
	color: #fffef9;  
	padding: 1.5% 5% 1.5% 5%;
	width: 100%;
	height: 15%;
	box-sizing: border-box;
}
 .column{
 	float: left;
 	width: 45%;
 	text-align: center;
 }
.footer a{
	color:#efefef;
}

.sublink_container p{
	text-indent: 3%;
	padding: 2%;
	font-family: sans-serif;
	
}

/*CSS for naaticclnepali webpage*/

#tips_naati{
	width: 70%;
	padding: 1%;
	max-height:1200px;
	box-sizing:border-box;
	background-color: rgb(0,56,147,0.2);
	margin: 100px 0px 100px 0;
	text-align: justify;
	overflow:auto;
}
.section_naaticclnepali{
	text-indent: 4%;
	text-align: justify;
	padding:2%;
	width: 70%;
	margin: 100px 0px 100px 0;
	box-sizing: border-box;
	background-color: rgb(0,56,147,0.2);
	overflow:auto;
}

.section_naaticclnepali a{
	text-decoration: none;
	color:blue;

}

.word_links{
	width:100%;
	border-radius: 20%;
}

.word_links a{
	background-color: rgb(220,20,60,0.8);
	color:#efefef;
	margin: 0 2% 0 2%;
}

/*CSS for naaticcltest*/
.vocab_display{
	width: 65%;
	background-color: rgb(0,56,147,0.2);
	margin: 50px 0 50px 0;
	padding: 2%;
	overflow:auto;
}

.vocab_display p{
	text-indent: 4%;
}

.category_links{
	border: 2px solid #333333;
	box-sizing: border-box;

	width: 30%;
	border-radius: 20%;
	background-color: (0,56,147,0.4);
	padding: 1% 3% 1% 3%;
	float:right;
	font-size: 100%;
	text-align: justify;
	position: fixed;
	right:0%;
}

.category_links a{
	color:#efefef;
	margin: .2% 1% .2% 1%;
	border:1px solid blue;
	background-color: #dc143c;
	font-size:1vw;
}

.word_table{
	margin: 2% 0 0 5%;
	padding: .5%;
	width: 50%;
	line-height: 150%;
}

.contribute{
	margin: 20px 0 20px 0;
}

/*CSS for word.html*/
.word_form{
	margin:1%;
	padding:2%;
	width:80%;
	background-color: white;
}

.form_words{
	margin:10%;
	padding:2%;
	width:60%;
	position: relative;
	left:20%;
	background-color: rgb(0,56,147, 0.2);
}

label {
  display: inline-block;
  width: 70%;
  text-align: right;
  margin:1%;
}

input[type="text"] {
	width:70%;
}

input[type="submit"]{
	float:right;
	border:2px solid rgb(0,56,147);
	background-color: #dc143c;
	color: #efefef;
	width:10%;
	height:3%;
}

.btn_word_form{
	width: 20%;
	height: 4%;
	font-size: 100%;
}

/*Contacts_form*/
.fieldset_contact{
	width:95%;
	height:90%;
}

.form_contact{
	width:60%;
	height:500px;
	max-width: 1000px;
	overflow: auto;
	background-color: rgb(0,56,147, 0.2);
	margin: 5%;
	padding: 2%;
}

textarea{
	height:20%;
	width:40%;
}

.contact_text{
	padding:2%;
	margin: 2%;
	text-align: justify;
	width: 80%;
}

/*About*/
.about{
width: 60%;
text-align: justify;
background-color: rgb(0,56,147, 0.2);
padding: 3%;
margin: 4% 0 4% 0;
max-width:100%;
}

/*Job Board*/
.form_job_board{
	width: 60%;
	background-color: rgb(0,56,147, 0.2);
	padding: 40px;
	position: relative;
	left:18%;
}



.form_job_board input[type="text"], input[type="number"], input[type="email"]{
	width: 60%;
}


.jobposter_contact input[type="text"]{
	width: 29%;
}
