button{
	border:2px solid rgb(0,56,147);
	background-color: #dc143c;
	color: #efefef;
	cursor:pointer;
}
a{
	text-decoration: none;
	color: #efefef;
}
label {
  text-align: left;
}
body{
	display:grid;
	grid-template-areas:
	'header header header header'
	'asideleft mainsection mainsection asideright'
	'footer footer footer footer';
	grid-gap: 20px;
}
#header-container{
	grid-area: header;
	display: grid;
	height: 80px;
	margin: 0 0 100px 0;
}
#adspace-left{
	grid-area: asideleft;
	display: grid;
	grid-gap: 10px;
}
.adbox{
	width:250px;
	height:150px;
	border: 2px solid black;
	background-repeat:no-repeat;
	background-size: 250px 150px;
}
.adbox img{
	max-width: 100%;
	max-height: 100%;
}
#adspace-right{
	grid-area: asideright;
	display: grid;
	grid-gap: 10px;
}
#main-section{
	grid-area: mainsection;
	display: grid;
	
}
#footer{
	grid-area: footer;
	background-color: #333333;
	opacity: .7;
	color: #efefef;
	padding: 10px;
}
#copyright-text{
	font-size: 1.5vw;
}
.column1-footer{
	text-align: center;
	text-decoration-style: none;
}
#tagline{
	height: 20px;
	text-align: center;
	background-color: #003893;
	color:#efefef;
	font-size: 1.7vw;
	font-family: 'Open Sans Condensed', sans-serif;
	font-stretch: ultra-expanded;
}
#logo-container{
	background-image:url(logo_blackboardnepal.png);
	background-size: 100px 100px;
	background-repeat:no-repeat;
	border-radius: 50%;
 	width: 100px;
 	height: 100px;
}
#website-logo{
	max-width: 100%;
    max-height: 100%;
}
#nav-bar{	
	display: inline-block;
	padding: 20px 0 10px 20px;
	font-size: 2.5vw;
	font-family: 'Rubik', sans-serif;
	background-color: #003893;
}
.nav-item {
	float: right;
	color: #fffef9;
	text-align: center;
	padding: 0 1% 0 1%;
	text-decoration: none;
}
.nav-item:hover {
	color: red;
	font-size: 150%;
}
#welcome-message{
	font-size: 3.5vw;
	font-family: 'Lobster', cursive;
	text-align: center;
}
#main-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}
.section-container{
	border: 2px solid black;
	grid-area: 1fr;
	padding: 10px;
}
.section-image{
	width: 200px;
	height: 150px;
}
.section-button{
	width: 100%;
}
.section-text{
	font-family: 'PT Sans Narrow', sans-serif;
	line-height: 1.5;
	text-align: justify;
	text-indent: 10%;
}

/*CSS for naaticclnepali webpage*/

#tips_naati{
	width: 70%;
	padding: 1%;
	color:#efefef;
	background-color: rgb(0,56,147,0.8);
	margin: 50px auto;
	text-align: justify;
	overflow-y:auto;
	box-sizing:border-box;
}
.section_naaticclnepali{
	text-indent: 4%;
	text-align: justify;
	padding:2%;
	width: 70%;
	margin: 50px auto;
	color:#efefef;
	background-color: rgb(0,56,147,0.8);
	overflow-y:auto;
	box-sizing: border-box;
}

.section_naaticclnepali a{
	text-decoration: none;
	color:white;
}

.word_links{
	width:100%;
	border-radius: 20%;
	margin: auto;
}

.word_links a{
	background-color: rgb(220,20,60,0.8);
	color:#efefef;
	margin: 0 2% 0 2%;
}

.vocab_button{
    width: 80%;
    margin: auto;
    font-size: 3vw; 
    
}

/*CSS for naaticcltest*/
.vocab_display{
	width: 70%;
	background-color: rgb(0,56,147,0.8);
	margin: 50px auto;
	padding: 2%;
	color:#efefef;
	overflow-y:auto;
}

.vocab_display p{
	text-indent: 4%;
}

.category_links{
	border: 2px solid #333333;
	color:#efefef;
	width: 30%;
	padding: 10px;
	border-radius: 10px;
	background-color: rgb(0,56,147,0.4);
	float:right;
	font-size: 1.7vw;
	text-align: justify;
	position: fixed;
	right: 10px;
	box-sizing: border-box;
}

.category_links a{
	color:#efefef;
	margin: .2% 1% .2% 1%;
	border:1px solid blue;
	background-color: #dc143c;
	font-size:1.7vw;
}

.word_table{
	margin: 50px auto;
	padding: .5%;
	width: 50%;
	line-height: 150%;
}

.contribute{
	margin: 20px auto;
}

/*CSS for word.html*/
.word_form{
	margin:50px auto;
	padding:2%;
	width:80%;
	
}

.form_words{
	margin:10%;
	padding:2%;
	width:60%;
	position: relative;
	left:20%;
	background-color: rgb(0,56,147, 0.8);
}

.btn_word_form{
	width: 20%;
	height: 4%;
	font-size: 100%;
}

/*Contacts_form*/
.form_contact{
	width:90%;
	height:500px;
	max-width: 1000px;
	overflow: auto;
	background-color: rgb(0,56,147, 0.8);
	margin: 50px auto;
	padding: 2%;
}

.name_contactform{
    width: 48%;
}
.contact_text{
	padding:2%;
	margin: 2%;
	text-align: justify;
	width: 80%;
	color:#efefef;
}

/*About*/
.about{
    width: 70%;
    text-align: justify;
    background-color: rgb(0,56,147, 0.8);
    padding: 3%;
    margin: 50px auto;
    overflow-y:auto;
    color:#efefef;
}

/*Learn Nepali*/
.word-display{
    float:left;
    width:70%;
}

.word-category{
    float:right;
    width:25%;
}


@media only screen and (max-width: 768px) {
    body{
    	display:grid;
    	grid-template-areas:
    	'header header header header'
    	'asideleft asideleft asideleft asideleft'
    	'mainsection mainsection mainsection mainsection'
        'asideright asideright asideright asideright'
        'footer footer footer footer';
    }
    #nav-bar{
    	font-size:5vw;
    }
    #tagline{
    	font-size: 3vw;
    }
    #logo-container{
	background-size: 80px 80px;	
 	width: 80px;
 	height: 80px;
	}
	.adbox{
	width:100%;
	}
    #copyright-text{
    	font-size:3vw;
    }
    #welcome-message{
    	font-size: 5vw;
    }
    #main-container{
    	display: grid;
    	grid-template-columns:auto;
    }
    .section-image{
    	width:100%;
    }


    .category_links{
        width: 40%;
        padding:10px;
        position:fixed;
        right:10px;
    }
    .contribute{
        width:40%;
    }
    .vocab_button{
        width:80%;
        margin:20px auto;
    }
}
